@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Binaria-Regular';
	src: url('/fonts/binaria/Binaria-Regular.ttf');
}

@font-face {
	font-family: 'Binaria-Bold';
	src: url('/fonts/binaria/Binaria-Bold.ttf');
}

@font-face {
	font-family: 'Neuropol';
	src: url('/fonts/neuropol/neuropol.otf');
}

h1 {
	@apply font-neuropol text-2xl;
}

:root {
	--font-body: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--color-bg-0: rgb(202, 216, 228);
	--color-bg-1: hsl(209, 36%, 86%);
	--color-bg-2: hsl(224, 44%, 95%);
	--color-theme-1: #ff3e00;
	--color-theme-2: #4075a6;
	--color-text: rgba(0, 0, 0, 0.7);
	--column-width: 42rem;
	--column-margin-top: 4rem;
	font-family: var(--font-body);
	color: var(--color-text);
}

body {
	@apply font-binaria_regular bg-ecru;
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	background-size: 100vw 100vh;
	background: url('/images/background-image.png');
}

.main-container {
	@apply flex flex-col flex-grow items-center justify-center gap-4 px-6
}

.error {
    @apply text-rg text-red pl-2;
}